.main {
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  max-width: 450px;
  flex: 1;
  background-color: #fff;
}

.splash_container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  overflow: hidden;
  .background_image {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: all 0.35s ease-in;
  }
  img {
    object-fit: cover !important;
    background: rgba(255, 255, 255, 0.01);
    // filter: blur(40px);
    // transform: scale(1.1);
    // backdrop-filter: brightness(0.5);
    // backdrop-filter: contrast(0.5);
  }
  .overlay_image {
    position: absolute;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(47.5px);
    height: 100%;
    width: 100%;
    z-index: 1;
    // display: none;
  }
}
.info_container {
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 1;
  flex-direction: column;
  .action_items {
    display: flex;
    margin: 20px 25px 0 25px;
    height: 40px;
    position: relative;
    .close_img {
      position: absolute;
      right: 0px;
      transition: all 0.35s ease-in;
    }
  }
  .image_container {
    flex: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    max-height: 50vh;
    min-height: 50vh;
    .image_frame {
      opacity: 1;
      position: relative;
      flex: 1;
      border-radius: 25px;
      overflow: hidden;
      margin: 20px 20px 10px 20px;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
  .message__container {
    flex: 1;
    width: 100%;
    padding: 15px 15px 0 15px;
    display: flex;
    flex-direction: column;
    .fox_img_hide {
      position: absolute;
      opacity: 0;
      z-index: 1;
    }
    .fox_img_show {
      position: absolute;
      opacity: 1;
      z-index: 1;
    }
    .message__action-items {
      display: flex;
      padding: 0 25px 15px 25px;
      align-items: center;
      justify-content: center;
      gap: 5px;
      .audio-btn {
        border-radius: 15px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: rgba(0, 0, 0, 0.2);
        padding: 6px;
        img {
          height: 25px;
          width: 25px;
          object-fit: fill !important;
        }
      }

      .replay-btn {
        border-radius: 15px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: rgba(0, 0, 0, 0.2);
        img {
          height: 38px;
          width: 38px;
          object-fit: fill !important;
        }
      }
    }
    .message_parent {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      transition: all 0.35s ease-in;
      .message_header {
        display: flex;
        width: 100%;
        position: relative;
        height: 100px;
        .fox_img {
          position: absolute !important;
          left: 15px;
        }
        .close_img {
          position: absolute !important;
          right: 15px;
        }
      }
      .message_avatar_girl {
        position: absolute;
        top: -39px;
        left: 15px;
        width: 75px;
        height: 70px;
        background: #92878773;
        backdrop-filter: blur(7.5px);
        border-radius: 100%;
        border: 2px solid #fff;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        animation: fadeIn 0.35s forwards;
        &.hide {
          opacity: 0 !important;
        }
        &.show {
          opacity: 1;
        }
      }
      .message_avatar_boy {
        position: absolute;
        top: -39px;
        right: 15px;
        width: 75px;
        height: 70px;
        background: #92878773;
        backdrop-filter: blur(7.5px);
        border-radius: 100%;
        border: 2px solid #fff;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        animation: fadeIn 0.35s forwards;
        &.hide {
          opacity: 0 !important;
        }
        &.show {
          opacity: 1;
        }
      }
      .type-anim_girl {
        position: absolute;
        bottom: 0;
        right: -27px;
      }
      .type-anim_boy {
        position: absolute;
        bottom: 0;
        left: -27px;
      }
      .message_block {
        background-color: #f01;
        background-color: #00000050;
        height: 100%;
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .clock_block {
          display: inline-flex;
          height: 40px;
          padding: 5px 10px;
          justify-content: center;
          align-items: center;
          gap: 5px;
          flex-shrink: 0;
          border-radius: 15px;
          border: 1px solid rgba(255, 255, 255, 0.1);
          margin-top: 50px;
          background: rgba(0, 0, 0, 0.2);
        }
        .text_block {
          flex: 1;
          display: flex;
          align-items: center;
          p {
            font-weight: 600;
            font-size: 1.375rem;
            text-align: center;
            color: #fff;
            line-height: 170%; /* 37.4px */
            letter-spacing: 0.66px;
            padding: 0 27px;
            span {
              opacity: 1;
              transform: scale(0.5);
              position: relative;
              &::before {
                top: 0px;
                left: -6px;
                content: "";
                animation: widthIn 0.35s forwards;
                background-color: #ff086b;
                width: 120%;
                height: 110%;
                border-radius: 4px;
                position: absolute;
                padding: 0 -5px;
                opacity: 1;
                z-index: -1;
              }
            }
          }
        }

        .option_block {
          flex: 1;
          width: 100%;
          padding: 20px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          .option_item {
            border-radius: 10px;
            border: 1px solid #fff;
            background: #00000066;
            backdrop-filter: blur(75px);
            color: #fff;
            width: 100%;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            &.correct {
              background: #8bc34a66 !important;
            }
            &.wrong {
              background: #ff001166;
            }
          }
        }
        .button_block {
          width: 100%;
          padding: 15px;
          margin-bottom: 50px;
          transition: all 0.35s ease-in-out;
          &.show {
            visibility: visible;
          }
          &.hide {
            visibility: hidden;
          }
          button {
            background: rgba(255, 255, 255, 0.25);
            padding: 10px 50px;
            border-radius: 8px;
            width: 100%;
            color: #fff;
            backdrop-filter: blur(100px);
          }
        }
      }
    }
  }
}

$dotColor: #fff;

.dot-typing {
  position: relative;
  display: block;
  left: -10000px;
  top: 2px;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: $dotColor;
  color: $dotColor;
  box-shadow: 9984px 0 0 0 $dotColor, 9999px 0 0 0 $dotColor,
    10014px 0 0 0 $dotColor;
  animation: dot-typing 1.5s infinite linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes widthIn {
  0% {
    width: 0px;
  }
  100% {
    width: 120%;
  }
}

@keyframes dot-typing {
  0% {
    box-shadow: 9984px 0 0 0 $dotColor, 9999px 0 0 0 $dotColor,
      10014px 0 0 0 $dotColor;
  }
  16.667% {
    box-shadow: 9984px -10px 0 0 $dotColor, 9999px 0 0 0 $dotColor,
      10014px 0 0 0 $dotColor;
  }
  33.333% {
    box-shadow: 9984px 0 0 0 $dotColor, 9999px 0 0 0 $dotColor,
      10014px 0 0 0 $dotColor;
  }
  50% {
    box-shadow: 9984px 0 0 0 $dotColor, 9999px -10px 0 0 $dotColor,
      10014px 0 0 0 $dotColor;
  }
  66.667% {
    box-shadow: 9984px 0 0 0 $dotColor, 9999px 0 0 0 $dotColor,
      10014px 0 0 0 $dotColor;
  }
  83.333% {
    box-shadow: 9984px 0 0 0 $dotColor, 9999px 0 0 0 $dotColor,
      10014px -10px 0 0 $dotColor;
  }
  100% {
    box-shadow: 9984px 0 0 0 $dotColor, 9999px 0 0 0 $dotColor,
      10014px 0 0 0 $dotColor;
  }
}
