%avatar {
  position: relative;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  overflow: hidden;
}

%message {
  position: relative;
  border-radius: 15px;
  padding: 15px;
  flex: 1;
  min-height: 100px;
  font-size: 1rem;
  box-shadow: 4px 4px 7px -4px #ccc;
}

%m-block {
  display: flex;
  gap: 20px;
}

.main {
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  max-width: 450px;
  flex: 1;

  .billboard {
    position: relative;
    flex: 0.7;
    width: 100%;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .conversation__block {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 20px;
    flex: 1;
    justify-content: center;

    .conversation {
      &__message {
        @extend %m-block;
        &--reverse {
          @extend %m-block;
          flex-flow: row-reverse;
          .avatar {
            @extend %avatar;
          }

          .message {
            @extend %message;
            p {
              span {
                position: relative;
                font-weight: normal;
                transition: background-color 2s linear 1s;
                &::after {
                  content: "";
                  background-color: #FF9800;
                  opacity: 0.5;
                  position: absolute;
                  top: -3px;
                  left: -3px;
                  width: 117%;
                  height: 100%;
                  padding: 12px;
                  z-index: 1;
                  border-radius: 5px;
                  transition: all .5s linear;
                }
              }
            }
          }
        }
        .avatar {
          @extend %avatar;
        }

        .message {
          @extend %message;
          p {
            span {
              position: relative;
              font-weight: normal;
              transition: background-color 2s linear 1s;
              &::after {
                content: "";
                background-color: #FF9800;
                opacity: 0.5;
                position: absolute;
                top: -3px;
                left: -3px;
                width: 117%;
                height: 100%;
                padding: 12px;
                z-index: 1;
                border-radius: 5px;
                transition: all .5s linear;
              }
            }
          }
        }
      }
    }
  }

  .action__block {
    flex: 0.3;
    display: flex;
    align-items: self-start;
    justify-content: center;
    padding: 0 25px;
    .btn {
      flex: 1;
      background-color: #fe782f;
      opacity: 1;
      font-size: 1.2rem;
      padding: 20px;
      visibility: hidden;
    }
  }
}
